{% extends 'dashboard.twig' %}


{% block content %}

    <table class="dashTable">
        <caption>{{ pageTitle }}</caption>
        <thead>
            <tr>
                <th>IMAGE</th>
                <th>Post</th>
                <th>Author</th>
                <th>Categories</th>
                <th>Date</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            {% for article in articles %}
                <tr>
                    <td><img src="https://picsum.photos/id/{{ article.id }}/200/100" alt="Article {{ article.id }}"></td>
                    <td><a href="/article/show/{{ article.id }}">{{ article.title }}</a></td>
                    <td>admin</td>
                    <td>{{ article.categorie }}</td>
                    <td>{{ article.created_at|timeago('pt') }}</td>
                    <td class="buttonContainer"><a href="/dashboard/edit/{{ article.id }}" class="btn warning"><i class="fa fa-pen"></i></a></td>
                    <td class="buttonContainer"><a href="/dashboard/delete/{{ article.id }}" class="btn danger"><i class="fa fa-trash"></i></a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}
